:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-5: 13px;
  --background-light: #ededed;
  font-family: system-ui;
  letter-spacing: -1px;
}

.task-column {
  width: 310px;
  padding: 10px 13px 13px 13px;
  border: 1px solid var(--background-light);
  background: #ededed;
  margin-left: 13px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  font-family: system-ui;
}

.task-column__header {
  display: flow-root;
  margin-bottom: 13px;
}

.task-column__title {
  float: left;
  color: #7b7b7b;
  padding: 2px 0px 5px 0px;
  font-size: 1em;
  font-family: system-ui;
}

.task-column__number {
  font-size: 1em;
  float: right;
  display: flex;
  color: #ababab;
  background: #ededed;
  width: 1.3em;
  height: 1.3em;
  margin: auto;
  border: 1px solid #ababab;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  align-items: center;
  justify-content: center;
}
