:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-5: 20px;

  --background-light: #ededed;
}

.task-column {
  padding: var(--spacing-5);
  border: 1px solid var(--background-light);
  background: #ededed;
  margin-left: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.task-column__header {
  display: flow-root;
  padding-bottom: 15px;
}

.task-column__title {
  float: left;
  color: #7b7b7b;
}

.task-column__number {
  float: right;
  height: 18px;
  width: 18px;
  text-align: center;
  border: 1px solid #ababab;
  background: #ededed;
  color: #ababab;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.task {
  height: 200px;
  width: 260px;
  padding: 8px;
  border: 1px solid #fbfbfb;
  background: #fbfbfb;
  -webkit-box-shadow: 2px 2px 4px 0px ededed;
  -moz-box-shadow: 2px 2px 4px 0px ededed;
  box-shadow: 2px 2px 4px 0px ededed;
  margin: 0px 0px 15px 0px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.task__resume {
  color: #4c4c4c;
  font-size: 18px;
  font-weight: bold;
}

.task__bottom {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.task__bottomleft {
  float: left;
}

.task__bottomright {
  float: right;
}

.task .add-task {
  font-size: 20px;
  height: 36px;
  width: 100%;
  background: #dadada;
  font-weight: initial;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
}
.task .add-task:hover {
  font-size: 30px;
  font-weight: bold;
}
div.avatar-name {
  background: rgb(234, 234, 250);
  font-size: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-weight: bold;
  color: #6b72ea;
  width: max-content;
  padding: 2px 5px 2px 4px;
  display: inline-block;
}
div.avatar-image {
  background: #6eeae3;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  display: inline-block;
}

.icon-container {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
}

.icon-container .icon {
  color: #c1c2c3;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
