:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-5: 13px;
  --background-light: #ededed;
  font-family: system-ui;
  letter-spacing: -1px;
}

.task {
  height: 74px;
  width: 283px;
  padding: 8px;
  border: 1px solid #fbfbfb;
  background: #fbfbfb;
  -webkit-box-shadow: 2px 2px 4px 0px ededed;
  -moz-box-shadow: 2px 2px 4px 0px ededed;
  box-shadow: 2px 2px 4px 0px ededed;
  margin: 0px 0px 15px 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 13px 10px 13px;
  display: grid;
}
.task__resume {
  margin: 3px 3px 0px 1px;
  color: #4c4c4c;
  font-size: 18px;
  font-family: system-ui;
}

.task__bottom {
  justify-content: space-between;
  width: 100%;
  display: flex;
  bottom: -10px;
  position: relative;
}

.task__bottomleft {
  float: left;
}

.task__bottomright {
  float: right;
}

div.avatar-name {
  background: rgb(234, 234, 250);
  font-size: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-weight: normal;
  color: #6b72ea;
  width: max-content;
  padding: 3px 7px 4px 6px;
  display: inline-block;
  bottom: 8px;
  position: relative;
}
div.avatar-image {
  background: #6eeae3;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  display: inline-block;
  margin-left: 7px;
  margin-top: 5px;
}

.icon-container {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  bottom: 10px;
  position: relative;
}

.icon-container .icon {
  color: #c1c2c3;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
